<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,226},{210,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,222}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,222}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{210,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,222}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,222}}</string>
                <key>sourceSize</key>
                <string>{210,222}</string>
            </dict>
            <key>item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,208},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{2032,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86bcd7f4e76aa4bec97aeade7af36c22$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
